<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <title>Demo cells-dm-emap-coexistence</title>
    <script>
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true,
        useNativeCSSProperties: true
      };
    </script>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html">
  <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
  <link rel="import" href="../../cells-st-button/cells-st-button.html">
  <link rel="import" href="../../iron-input/iron-input.html">
  <link rel="import" href="../../paper-input/paper-input.html">
  <link rel="import" href="../../cells-molecule-input/cells-molecule-input.html">
  <link rel="import" href="../cells-dm-emap-coexistence.html">
  <link rel="import" href="css/demo-styles.html">
</head>

<body unresolved ontouchstart>

  <cells-demo-helper resolution="tablet" events='[]'>

    <cells-demo-case heading="EMAP coexistence" description="Demo Coexistence CELLS-EMAP">
      <template>
        <template is="dom-bind" id="demo-emap-dom-bind">

            <div id="demo-emap-container">
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Url EMAP" value="{{url}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Operation" value="{{operation}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Operation input data" value="{{inputData}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="ODN input data" value="{{odnData}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Use serviceworker" value={{useServiceWorker}} ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Serviceworker scope" value={{scope}} ></cells-molecule-input>
              </div>

              <div class="login-container">
                <cells-dm-emap-coexistence
                id="emapDM"
                url="[[url]]"
                operation="[[operation]]"
                input-data="[[inputData]]"
                odn-data="[[odnData]]"
                use-service-worker=[[useServiceWorker]]
                notification-icon="https://picsum.photos/200/300/?random"
                notification-image="https://picsum.photos/200/300/?random"
                scope="/">
                </cells-dm-emap-coexistence>

                  <div class="layout vertical">
                    <cells-st-button class="secondary login-button">
                      <button id="launOperation" on-tap="doLaunch">Execute operation </button>
                    </cells-st-button>
                  </div>

              </div>
            </div>

        </template>
        <script>
          /* global customFunctions */

          (function(demo) {

            demo.url = 'http://www.google.es';
            demo.operation = 'HOY1000';
            demo.inputData = '{}';
            demo.odnData = '{}';
            demo.useServiceWorker = false;
            //demo.scope = '/components/cells-dm-emap-coexistence/demo/';

            demo.doLaunch = function(event) {
              demo.$.emapDM.lanzarOperacion();
            };

          }(document.getElementById('demo-emap-dom-bind')));
        </script>
      </template>
    </cells-demo-case>
  </cells-demo-helper>
</body>

</html>
