<link rel="import" href="../polymer/polymer.html">

<!--
# EMAP coexistence DM

`<cells-dm-emap-coexistence>` provides the methods to perform the coexistence with EMAP application.

## Import

1. Add it to bower dependencies and install it in your project.

    ```json
    {
      ...
      "dependencies": {
        ...

        "cells-dm-emap-coexistence": "ssh://git@globaldevtools.bbva.com:7999/bbvaesemap/cells_coexistence.git"

        ...
      }
      ...
    }
    ```

1. Import the behavior in your component:

    ```html
    <link rel="import" href="../cells-dm-emap-coexistence/cells-dm-emap-coexistence.html">
    ```

## Usage

```html
<cells-dm-emap-coexistence
  id="emap-dm"
  url=""
  operation="operation"
  input-data="input data"
  odn-data="odn data"
  use-service-worker=false
  notification-icon="icon.png"
  notification-image="image.png">
</cells-dm-emap-coexistence>
<script>
  var emapDM = document.querySelector('#emap-dm');
  emapDM.executeEmapOperation();
</script>
```

-->

<dom-module id="cells-dm-emap-coexistence">
  <script src="cells-dm-emap-coexistence.js"></script>
</dom-module>
